@import "styles/settings/__settings";

.containerPost {
  display: flex;
  flex-direction: row-reverse;
  max-width: 70rem;
  margin: 0 auto;
  font-size: 1.2rem;

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 980px) {
    flex-wrap: wrap-reverse;

    div p {
      font-size: 1.2rem !important;
    }
  }
}
