@import "../../styles/settings/colors";

.author {
  a {
    margin-left: 0.2em;
    transition-duration: 0.2s;
    transform: perspective(1px) translateZ(0);
    color: $color-black-800;
    font-size: 16px;

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: $color-primary;
      transition: opacity 200ms, transform 200ms;
      opacity: 1;
    }

    &:hover::after,
    &:focus::after {
      transform: translate3d(0, 0.2em, 0);
      transition-duration: 0.4s;
    }
  }

  address {
    font-size: 15.5px;
    display: flex;
    align-items: center;
    font-style: normal;

    @media screen and (max-width: 420px) {
      font-size: 14.5px;
    }
    @media screen and (max-width: 360px) {
      font-size: 13px;
    }
  }

  img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin-right: 0.5em;
    border: 1px solid $color-primary;
  }
}

.authorCardContent {
  display: flex;
  justify-content: center;
  line-height: normal;
  margin-top: 13px;
}

.metadataDate {
  time {
    font-size: 14px;
    font-weight: 500;
    color: $color-gray-850;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;

    @media screen and (max-width: 980px) {
      font-size: 12px;
    }
    @media screen and (max-width: 340px) {
      font-size: 11px;
    }
  }
}
