.author {
  a {
    margin-left: 0.2em;
  }

  address {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  img {
    width: 1.4em;
    height: auto;
    border-radius: 50%;
    margin-right: 0.5em;
  }
}

.authorCardContent {
  display: flex;
}
