@import "styles/settings/__settings";
@import "styles/settings/_typography";

/* Top Post Page */
.articleStructure {
  border-left: 3px solid $color-secondary;
  // @media screen and (max-width: 980px) {
  //   margin: 0 auto;
  // }

  .tableOfContent {
    text-align: center;
    font-family: $font-family-headers;
    font-size: 0.9rem;
    font-weight: bold;
    // border-bottom: 1px solid $border-gray-100;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    @media screen and (max-width: 980px) {
      margin-top: 0.3em;
      margin-bottom: 0.5em;
      font-size: 1.3rem;
    }
  }

  ul {
    list-style: none;
    padding-left: 0.55rem;
    font-weight: 600;
    margin-bottom: 0.6em;
    @media screen and (max-width: 980px) {
      margin-bottom: 0;
    }
  }

  ul li {
    font-size: 0.7rem;
    padding: 0.15rem;
    font-weight: 500;
    line-height: 22px;

    @media screen and (max-width: 980px) {
      font-size: 1rem;
      padding: 0.35rem;
    }

    a {
      color: #000;
      transition-duration: 0.2s;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

.contentContainerMob {
  max-width: 60rem;
  margin: 0 auto;
}

.stickybox {
  margin: 0;

  @media screen and (max-width: 980px) {
    display: unset;
    top: 0 !important;
    position: unset;
    padding-left: 0;
  }

  // @media screen and (max-width: 1280px) {
  //   padding: 0 0 1rem 1rem;
  // }
}

.metadataWrapper {
  margin: 1.6em 0 1em 0;
}

/* Middle Post Page */
.content {
  background-color: #fff;
  border-radius: 15px;
  @media screen and (max-width: 980px) {
    font-size: 1.05rem;
    margin-right: 0;
  }

  a {
    color: $color-primary;
    transition-duration: 0.2s;
    text-decoration: underline;
    z-index: 2;
    position: relative;

    &:hover {
      color: $color-primary-light2;
      text-decoration: none;
    }
  }

  [class~="img-border"] {
    border-radius: 14px;
  }

  /* Headings 2 */
  .anchor {
    float: left;
    margin-left: -30px;
    text-decoration: none !important;
  }

  .anchor:before {
    content: "#";
    font-size: 1em;
    position: relative;
    bottom: -4px;
    color: $color-primary-light3;
    visibility: hidden;
  }

  .header:hover .anchor:before {
    visibility: visible;

    @media screen and (max-width: 980px) {
      visibility: hidden;
    }
  }
  /* End of Headings 2 */

  [class~="info-block"] {
    background-color: $color-secondary-light2;
    border-radius: 4px;
    padding: 15px;
    margin: 1.9rem 0;
    border-left: 4px solid $color-secondary-dark2;
    font-weight: 500;
    color: #000;
    box-shadow: $box-shadow-medium;

    &:before {
      content: "💡";
      font-size: 25px;
      margin-right: 5px;
    }
  }

  [class~="further-read"] {
    background-color: #3e5fcd;
    border-radius: 4px;
    padding: 15px;
    margin: 1.9rem 0;
    border-left: 4px solid $color-primary-dark3;
    font-weight: 500;
    color: #fff;
    box-shadow: $box-shadow-medium;

    &:before {
      content: "🗃️";
      font-size: 25px;
      margin-right: 5px;
    }

    a {
      color: $color-secondary-light2;
    }
  }

  [class~="wp-block-image"] {
    img {
      height: auto;
    }

    figure {
      text-align: center;
    }

    // @media screen and (min-width: 980px) {
    //   padding: 20px;
    //   position: relative;
    //   left: calc(-50vw + 50%);
    //   width: 100vw;
    //   text-align: center;
    // }
  }

  [class~="product-table"] {
    box-shadow: $box-shadow-small;
    a {
      text-decoration: none;

      &:hover {
        color: $color-primary-light1;
      }
    }
    img {
      max-width: 150px;

      @media screen and (max-width: 580px) {
        max-width: 200px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
    table {
      border-radius: 14px 14px 0 0;
    }
    table th p {
      text-align: center !important;
      color: #000;
    }
    table tr td {
      text-align: center !important;
    }
    table td {
      font-size: 16px;
    }
    table tr td:nth-child(1) {
      padding: 3px;
      margin: 0;
      background-color: white;
      border-right: 3px solid #eceffa;

      @media screen and (max-width: 580px) {
        border-right: none;
        border-top: 3px solid #93a5e3;
      }
    }
    table tr td:nth-child(2) {
      width: 50%;
      margin: 0 auto;
    }
    table tr:nth-child(2n) {
      border-bottom: 3px solid #eceffa;
      border-top: 3px solid #eceffa;

      @media screen and (max-width: 580px) {
        border-bottom: none;
        border-top: none;
      }
    }
    table [class~="product-button"] {
      line-height: 20px;
      margin-top: 20px;
      margin-bottom: 20px;

      a {
        white-space: nowrap;
        overflow: hidden;
        box-shadow: $box-shadow-medium;
        background-color: $color-button-amazon;
        padding: 5px;
        border-radius: 4px;
        font-weight: bold;
        color: #000;

        @media screen and (max-width: 580px) {
          padding: 10px;
          font-size: 18px;
        }

        &:hover {
          background-color: $color-button-border-amazon;
          box-shadow: $box-shadow-large;
        }
      }
    }
    table [class~="product-button-chewy"] {
      line-height: 20px;
      margin-top: 20px;
      margin-bottom: 20px;

      a {
        white-space: nowrap;
        overflow: hidden;
        box-shadow: $box-shadow-medium;
        background-color: $color-button-chewy;
        padding: 6px 8px;
        border-radius: 4px;
        font-weight: bold;
        color: #fff;

        @media screen and (max-width: 580px) {
          padding: 10px;
          font-size: 18px;
        }

        &:hover {
          background-color: $color-button-border-chewy;
          box-shadow: $box-shadow-large;
        }
      }
    }

    @media screen and (max-width: 580px) {
      table {
        border: 0;
      }

      table thead tr th:nth-child(1),
      table thead tr th:nth-child(3) {
        display: none;
      }

      table thead tr th:nth-child(2) {
        display: block;
        font-size: 22px;
        padding: 10px;
      }

      table tr {
        background-color: #93a4e32e;
      }

      table td {
        display: block;
        text-align: left;
        font-size: 16px;
        border-bottom: 1px solid $border-gray-100;
        padding: 0.5em 0;
      }

      table tr td:nth-child(2) {
        width: 80%;
        margin: 0 auto;
      }

      table td:last-child {
        border-bottom: 0;
      }
    }
  }

  [class~="product-box"] {
    margin: 45px 0 40px 0;
    display: flex;
    border: 1px solid $border-gray-050;
    padding: 20px 20px 15px 20px !important;
    border-radius: 10px;
    position: relative;
    box-shadow: $box-shadow-small;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 980px) {
      padding: 10px 15px 10px 15px !important;
    }

    &:hover {
      box-shadow: $box-shadow-medium;
      // transform: scale(1.02);
    }

    img:hover {
      opacity: 0.8;
    }

    p {
      margin-bottom: 1.3rem !important;
    }

    @media screen and (max-width: 600px) {
      margin: 35px 0 40px 0;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }

    [class~="wp-block-media-text__media"] {
      order: 1;
      flex-grow: 1;
      padding: 0 5%;
      max-width: 250px;

      @media screen and (max-width: 980px) {
        text-align: center;
        max-width: 180px;
        margin-bottom: 0;
        padding: 0;
      }
    }

    [class~="wp-block-media-text__content"] {
      @media screen and (max-width: 980px) {
        text-align: center;
      }
    }

    [class~="product-text"] {
      a {
        font-size: 1.2rem;
        color: $color-black-899;
        text-decoration: none;
        line-height: 1.2;

        &:hover {
          color: $color-secondary-light3;
        }
      }
    }

    [class~="product-button"] {
      border-bottom: 4px solid $color-button-border-amazon;
      background-color: $color-button-amazon;
      border-radius: 7px;
      padding: 4px 25px;
      display: inline-block;

      a {
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: $color-black-900;
      }

      &:hover {
        border-bottom: none;
        border-top: 4px solid $color-button-amazon;
      }
    }

    [class~="product-button-chewy"] {
      border-bottom: 4px solid $color-button-border-chewy;
      background-color: $color-button-chewy;
      border-radius: 7px;
      padding: 8px 50px;
      display: inline-block;

      a {
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: $color-black-900;
      }

      &:hover {
        border-bottom: none;
        border-top: 4px solid $color-button-chewy;
      }
    }

    [class~="wp-block-button__link"] {
      font-size: 1rem;

      @media screen and (max-width: 980px) {
        font-size: 1.2rem;
      }
    }

    [class~="affiliate-text"] {
      font-style: italic;
      font-size: 14px;
      color: $color-gray-850;
      position: relative;
      top: 15px;
      margin-bottom: 1rem !important;
    }

    [class~="top-pick"] {
      position: absolute;
      top: -44px;
      left: -10px;
      display: inline-block;
      background-color: $color-secondary-dark1;
      color: #fff;
      z-index: 1;
      padding: 10px 15px;
      letter-spacing: 0.5px;
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 700;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14);

      @media screen and (max-width: 980px) {
        font-size: 1.3rem;
      }

      &::after {
        content: " ";
        display: block;
        position: absolute;
        left: -10px;
        bottom: -7px;
        border-color: transparent #2368a4 transparent transparent;
        border-style: inset solid inset inset;
        border-width: 0 10px 7px;
        filter: brightness(50%);
      }
    }
  }
}

/* Bottom Post Page */
.relatedPosts {
  display: flex;
  flex-direction: column;
  span {
    font-size: 1.2em;
    margin-bottom: 0.4em;
  }
  & > ul {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

    @media screen and (max-width: 980px) {
      grid-template-columns: 1fr !important;
    }
  }
}

.postMetadata {
  margin-top: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}

.postFooter {
  text-align: center;
}

.postModified {
  color: $color-gray-500;
  font-style: italic;
  margin-bottom: 3rem;
}
