@import "styles/settings/__settings";
@import "style.css";
@import "typeface-montserrat";
@import "typeface-inter";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Inter", "Montserrat", BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
}

p {
  line-height: 1.6;
  margin: 1.2em 0;
}

ul {
  padding-left: 1.2em;
}

a {
  color: $color-primary;
}

img {
  max-width: 100%;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

iframe {
  width: 100%;
}

.sr-only {
  display: block;
  // overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.product-box {
  margin: 45px 0 40px 0;
  display: flex;
  border: 1px solid #e2e2e2;
  padding: 25px 25px 20px 25px !important;
  border-radius: 10px;
  position: relative;
}
.product-box img:hover {
  opacity: 0.8;
}
.product-text {
  margin-bottom: 1.5rem !important;
  margin-top: 1rem !important;
}
.product-text a {
  font-size: 1.6rem;
  color: var(--blue);
  text-decoration: none;
  line-height: 1.2;
}
.product-button {
  border-bottom: 4px solid #df8600;
  background-color: var(--orange-yellow) !important;
  border-radius: 4px;
}
.product-button a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 14px;
  letter-spacing: 0.6px;
  background-color: var(--orange-yellow) !important;
  color: var(--white) !important;
}
.product-button:hover {
  border-bottom: none;
  border-top: 4px solid var(--orange-yellow);
}
.wp-block-media-text .wp-block-media-text__media {
  order: 1;
  flex-grow: 1;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: 0 5% 0% 0%;
  flex-grow: 1;
}
.wp-block-button__link {
  font-size: 0.9em;
}
.affiliate-text {
  font-style: italic;
  font-size: 0.8rem;
  color: #666666b5;
  position: relative;
  top: 15px;
  margin-bottom: 1rem !important;
}
.top-pick {
  position: absolute;
  top: -18px;
  left: -10px;
  display: inline-block;
  background-color: #4381b8;
  color: var(--white);
  z-index: 500;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14);
}
.top-pick::after {
  content: " ";
  display: block;
  position: absolute;
  left: -10px;
  bottom: -7px;
  border-color: transparent #2368a4 transparent transparent;
  border-style: inset solid inset inset;
  border-width: 0 10px 7px;
  filter: brightness(50%);
}
.product-box p {
  margin-bottom: 1.3rem !important;
}

.product-box {
  margin: 45px 0 40px 0;
  display: flex;
  border: 1px solid #e2e2e2;
  padding: 25px 25px 20px 25px !important;
  border-radius: 10px;
  position: relative;
}
.product-box img:hover {
  opacity: 0.8;
}
.product-text {
  margin-bottom: 1.5rem !important;
  margin-top: 1rem !important;
}
.product-text a {
  font-size: 1.6rem;
  color: var(--blue);
  text-decoration: none;
  line-height: 1.2;
}
.product-button {
  border-bottom: 4px solid #df8600;
  background-color: var(--orange-yellow) !important;
  border-radius: 4px;
}
.product-button a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 14px;
  letter-spacing: 0.6px;
  background-color: var(--orange-yellow) !important;
  color: var(--white) !important;
}
.product-button:hover {
  border-bottom: none;
  border-top: 4px solid var(--orange-yellow);
}
.wp-block-media-text .wp-block-media-text__media {
  order: 1;
  flex-grow: 1;
}
.wp-block-media-text .wp-block-media-text__content {
  padding: 0 5% 0% 0%;
  flex-grow: 1;
}
.wp-block-button__link {
  font-size: 0.9em;
}
.affiliate-text {
  font-style: italic;
  font-size: 0.8rem;
  color: #666666b5;
  position: relative;
  top: 15px;
  margin-bottom: 1rem !important;
}
.top-pick {
  position: absolute;
  top: -18px;
  left: -10px;
  display: inline-block;
  background-color: #4381b8;
  color: var(--white);
  z-index: 500;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14);
}
.top-pick::after {
  content: " ";
  display: block;
  position: absolute;
  left: -10px;
  bottom: -7px;
  border-color: transparent #2368a4 transparent transparent;
  border-style: inset solid inset inset;
  border-width: 0 10px 7px;
  filter: brightness(50%);
}
.product-box p {
  margin-bottom: 1.3rem !important;
}
