.layoutContainer {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #fffcf8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffe2b4' fill-opacity='1' d='M0,288L120,250.7C240,213,480,139,720,144C960,149,1200,235,1320,277.3L1440,320L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z'%3E%3C/path%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffe2b4' fill-opacity='1' d='M0,0L60,16C120,32,240,64,360,74.7C480,85,600,75,720,74.7C840,75,960,85,1080,101.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 47.5% 0%, 40% 100%;
  background-size: 270%, 200%;

  @media (max-width: 1480px) {
    background-size: 290%, 230%;
  }

  @media (max-width: 1140px) {
    background-size: 330%, 270%;
  }

  @media (max-width: 980px) {
    background-size: 360%, 320%;
  }

  @media (max-width: 780px) {
    background-size: 390%, 360%;
  }

  @media (max-width: 737px) {
    background-size: 390%, 540%;
  }

  @media (max-width: 680px) {
    background-size: 840%, 600%;
  }

  @media (max-width: 640px) {
    background-position: 55.5% 0%, 40% 100%;
    background-size: 840%, 700%;
  }

  @media (max-width: 580px) {
    background-size: 840%, 850%;
  }

  @media (max-width: 480px) {
    background-size: 840%, 950%;
  }

  @media (max-width: 447px) {
    background-size: 840%, 1150%;
  }

  @media (max-width: 430px) {
    background-size: 840%, 1250%;
  }

  @media (max-width: 395px) {
    background-size: 840%, 1450%;
  }
}

// url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%2366A2FF' fill-opacity='1' d='M0,64L48,80C96,96,192,128,288,138.7C384,149,480,139,576,138.7C672,139,768,149,864,154.7C960,160,1056,160,1152,133.3C1248,107,1344,53,1392,26.7L1440,0L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'%3E%3C/path%3E%3C/svg%3E")
