@import "styles/settings/__settings";

@import "styles/components/_container";

.header {
  padding: 7.5% 20%;
  color: #000;
  position: relative;
  overflow: hidden;

  @media (max-width: 980px) {
    padding: 3rem 2rem 1rem 2rem;
  }

  div {
    padding: 0;
  }

  h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;

    @media (max-width: 680px) {
      font-size: 2rem;
    }

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }

    & + ul {
      margin-top: 1.5em;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  figure {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
