@import "styles/settings/__settings";
@import "styles/settings/_colors";
@import "styles/components/_container";

.headerPost {
  color: #11171a;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: #d1d1f8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23dadaf9' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23e3e3fb' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23ededfc' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23f6f6fe' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FFFFFF' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
  }

  figure {
    padding: 15px 0 0 0;
    @media (max-width: 980px) {
      padding: 20px 0 0 0;
    }
  }

  // @media (max-width: 980px) {
  //   padding: 1.5rem 1rem 1rem 1rem;
  // }

  div {
    flex-basis: 100%;

    ul > li {
      text-align: left;
      justify-content: left !important;
    }

    h1 {
      margin: 0;
      font-weight: 800;
      padding-top: 0.4rem;
      line-height: 1.16;
      // text-align: left;
      // background-image: linear-gradient(120deg, $color-primary-light3 0%, $color-primary-light2 50%);
      // background-repeat: no-repeat;
      // background-size: 85% 0.07em;
      // background-position: 0 0%;
      // text-align: center;
      font-size: 3rem;
      text-align: center;

      @media (max-width: 980px) {
        font-size: 2.3rem;
      }
    }

    p {
      margin: 20px 0 10px 0 !important;
      font-size: 1rem;
      color: #2c2b27;
    }

    @media (min-width: 480px) {
      font-size: 1rem;
    }

    a {
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
