$color-secondary: #5485c3;
$color-secondary-light1: #b6cbe5;
$color-secondary-light2: #87a9d5;
$color-secondary-light3: #6994cb;
$color-secondary-dark1: #467bbe;
$color-secondary-dark2: #3e71b1;
$color-secondary-dark3: #37659e;

$color-primary: #5b54c3;
$color-primary-light1: #b8b5e5;
$color-primary-light2: #8984d4;
$color-primary-light3: #716bcb;
$color-primary-dark1: #5049bf;
$color-primary-dark2: #453eb1;
$color-primary-dark3: #3b3596;

$color-background-050: #edf0fc;
$color-main-background: #ededf9;

$border-gray-050: #eff0f1;
$border-gray-100: #bcbcbc;

$color-black-050: #eff0f1;
$color-black-300: #9fa6ad;
$color-black-800: #242729;
$color-black-899: #0b1321;
$color-black-900: #090b0d;

$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-850: #646464;

$color-button-amazon: #f29b30;
$color-button-border-amazon: #df8600;
$color-button-chewy: #128ced;
$color-button-border-chewy: #266a9e;
