$color-secondary: #1672ff;
$color-secondary-light1: #b0cfff;
$color-secondary-light2: #71a9ff;
$color-secondary-light3: #3786ff;
$color-secondary-dark1: #005cea;
$color-secondary-dark2: #004fc9;
$color-secondary-dark3: #003b96;

$color-primary: #ffa416;
$color-primary-light1: #ffe2b4;
$color-primary-light2: #ffcb7c;
$color-primary-light3: #ffb43f;
$color-primary-dark1: #f59500;
$color-primary-dark2: #de8800;
$color-primary-dark3: #6b4100;

$color-main-background: #fffcf8;

$border-gray-050: #eff0f1;
$color-black-050: #eff0f1;
$color-black-300: #9fa6ad;
$color-black-800: #242729;

$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-850: #646464;
$color-gray-900: #090b0d;

$color-background-050: #fffcf8;
