$font-family-headers: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "fira sans", roboto, noto,
  "droid sans", "liberation sans", "lucida grande", "helvetica neue", helvetica, "franklin gothic medium",
  "century gothic", cantarell, oxygen, ubuntu, sans-serif;
$font-family-paragraphs: "helvetica neue", helvetica, -apple-system, BlinkMacSystemFont, "avenir next", avenir,
  "segoe ui", "fira sans", roboto, noto, "droid sans", "liberation sans", "lucida grande", "franklin gothic medium",
  "century gothic", cantarell, oxygen, ubuntu, sans-serif;
$font-family-default: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "fira sans", roboto, noto,
  "droid sans", "liberation sans", "lucida grande", "helvetica neue", helvetica, "franklin gothic medium",
  "century gothic", cantarell, oxygen, ubuntu, sans-serif;
