@import "styles/settings/__settings";

.metadata {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  color: $color-gray-600;
  list-style: none;
  padding: 0;
  margin: 0 0 0.6rem 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

.metadataAuthor {
  a {
    margin-left: 0.2em;
  }

  address {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  img {
    width: 1.4em;
    height: auto;
    border-radius: 50%;
    margin-right: 0.5em;
  }
}

.metadataCategories {
  li {
    display: inline-block;

    &:after {
      // content: ", ";
      margin-right: 0.4em;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  a {
    color: #cf7c00;
    font-size: 0.75rem;
    background-color: #ffe8c6;
    padding: 4px;
    border-radius: 5px;
    margin-right: 8px;
    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
      color: #503000;
      background-color: #fed8a0;
    }
  }
}

.metadataDate {
  time {
    font-size: 0.8rem;
    font-weight: 500;
    color: $color-black-300;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    font-size: 0.7rem;
    padding: 5px 0 0.3px 0;
  }
}

.metadataSticky {
  color: #ff9900;
  margin-left: 10px;
}
