@import "styles/settings/__settings";

.footer {
  width: 100%;
  border-top: 1px solid $color-gray-100;
  background-color: #151938;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231f244f'/%3E%3Cstop offset='1' stop-color='%231f244f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23252d64'/%3E%3Cstop offset='1' stop-color='%23252d64' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2331397d'/%3E%3Cstop offset='1' stop-color='%2331397d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23151938'/%3E%3Cstop offset='1' stop-color='%23151938' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232A3068'/%3E%3Cstop offset='1' stop-color='%232A3068' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23384293'/%3E%3Cstop offset='1' stop-color='%23384293' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.footerMenu {
  margin: 2rem 0;

  ul {
    list-style: none;
    padding: 0;
  }
}

.footerMenuColumns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -2em;

  @media (min-width: 480px) {
    justify-content: center;
  }

  & > li {
    max-width: 15em;
    margin: 2em;
  }
}

.footerMenuTitle {
  display: inline-block;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 1.4em;
  margin-top: 0;
}

.footerMenuItems {
  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}

.footerLegal {
  color: $color-gray-400;
  background-color: $color-gray-900;
  padding: 0.8rem 0;
  margin: 0;

  p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
  }
}
