@use "sass:math";
@import "styles/settings/__settings";

.featuredImage {
  margin: 0 0 0.3rem 0;
  flex-basis: 100%;

  img {
    box-shadow: $box-shadow-medium;
    border-radius: 7px;
  }

  img:hover {
    box-shadow: $box-shadow-large;
  }
}

@media (max-width: 980px) {
  .featuredImage {
    margin: 0 0 0.3rem 0;
  }
}
