@import "styles/settings/__settings";

.nav {
  width: 100%;
  background-color: $color-main-background;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.progressMainWrapper {
  background-color: #e0def4;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.progressMainStyle {
  height: 4px;
  background: linear-gradient(120deg, #9b97db 0%, #5b54c3 90%);
  transition: all 0.33s ease-out;
}

.navSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  max-width: 70rem;
  padding: 0 10px;
  margin: 0 auto;
}

.navName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0.8em 0 0;
  justify-content: flex-start;
  margin-top: 0;

  @media (min-width: 480px) {
    justify-content: flex-start;
    margin-top: 0;
  }
}

.navSearchHidden {
  flex-grow: 0;
  margin-left: 0.5em;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    @media (min-width: 480px) {
      justify-content: flex-end;
      margin-right: -1rem;
    }
  }

  input {
    font-size: 0.845em;
    border: 2px solid $color-black-050;
  }

  button {
    font-size: 1.2em;
    background: none;
    padding: 0 1.045em 0 0;
    border: none;
    outline: none;
    cursor: pointer;

    &[disabled] {
      svg {
        fill: $color-gray-200;
        transition: fill 0.5s;
      }
    }

    svg {
      fill: $color-primary;
      transform: translateY(2px);
    }

    &:focus {
      svg {
        fill: $color-primary;
      }
    }
  }
}

.navSearchVisible {
  flex-grow: 0;
  margin-left: 0.5em;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem;

    @media (min-width: 480px) {
      justify-content: flex-end;
      margin-right: -1rem;
    }
  }

  input {
    font-size: 0.845em;
    border-color: $color-gray-200;
  }

  button {
    font-size: 1.2em;
    background: none;
    padding: 0 1.045em 0 0;
    border: none;
    outline: none;
    cursor: pointer;

    &[disabled] {
      svg {
        fill: $color-gray-200;
        transition: fill 0.5s;
      }
    }

    svg {
      fill: $color-gray-400;
      transform: translateY(2px);
    }

    &:focus {
      svg {
        fill: $color-primary;
      }
    }
  }
}

.navSearchResults {
  display: none;
  position: absolute;
  top: 100%;
  width: 140%;
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-top: solid 5px $color-primary;
  z-index: 999;

  @media (max-width: 980px) {
    width: 350px;
    font-size: 1rem;
    margin-right: 0;
  }

  @media (max-width: 580px) {
    width: 100%;
    margin-right: 0;
  }

  [data-search-is-active="true"] & {
    display: block;
  }

  p {
    line-height: 1.15;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: -0.5em 0;
  }

  a {
    display: block;
    color: $color-gray-800;
    text-decoration: none;
    padding: 0.5em;
    margin: 0 -0.5em;
    &:focus {
      outline: 2px solid $color-primary;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        transition-duration: 0.4s;
      }
    }
  }
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0;
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 980px) {
    // flex-wrap: wrap;
  }

  li {
    position: relative;
    z-index: 1;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      & > a {
        color: $color-primary;
        transition-duration: 0.4s;
      }

      > .navSubMenu {
        display: block;
      }
    }

    & > .navSubMenu {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      padding: 0.5em 0.8em;
    }

    .navSubMenu {
      ul {
        top: 0;
        left: 100%;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $color-black-800;
    font-size: 1rem;
    padding: 0.5em;

    @media screen and (max-width: 980px) {
      font-size: 1.2rem;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        transition-duration: 0.4s;
      }
    }
  }

  .navSubMenu {
    display: none;
    position: absolute;
    white-space: nowrap;
    list-style: none;
    background-color: #fff;
    padding: 0;

    li {
      background-color: white;
      margin: 0;

      a {
        font-size: 1rem;
        padding: 0.3em;
      }
    }
  }
}
